    @model IEnumerable<Producto>

<div class="">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="
     margin-top: 30px;">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://cdn-images-ppys-prod.s3.amazonaws.com/media/wysiwyg/1657056604_delivery-gratis-desktop.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn-images-ppys-prod.s3.amazonaws.com/media/wysiwyg/1682355671_combos-pop-duo-1280x420.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn-images-ppys-prod.s3.amazonaws.com/media/wysiwyg/1682355573_sabor-cajun-1280x420.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container-promo">
        <div class="titulo-promo">
            <h2 class="h2-promo">Promociones</h2>
        </div>

        <div class="imgs-promo">
            <div class="img-promo">
                <img src="https://cdn-images-ppys-prod.s3.amazonaws.com/media/catalog/product/f/e/festi-cajun-full-card.jpg" />
            </div>
            <div class="img-promo">
                <img src="https://cdn-images-ppys-prod.s3.amazonaws.com/media/catalog/product/s/u/super-promo-cajun-card-nuevo.jpg" />
            </div>
        </div>
    </div>


    <div class="titulo-menu">
        <h2>Menu</h2>
    </div>


    <div class="row pb-3">
        @foreach (var producto in Model)
        {
            <div class="col-lg-3 col-sm-6" >
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="@producto.ImageUrl" class="card-img-top rounded">
                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-white opacity-75 text-uppercase text-center">@producto.nombreProducto</p>
                                    <p class="card-title text-warning text-center">Categoría: @producto.Categoria.nombre</p>
                                </div>
                                <div class="pl-1">
                                    <p class="card-title text-white opacity-75 text-center mb-0">
                                           Precio: @producto.precio.ToString("c")
                                    </p>
                                </div>
                            </div>
                            <a asp-action="Details"
                               asp-route-productoId="@producto.idProducto"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Detalle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    @*<div class="container-promo">

        <div class="imgs-promo">
            <div class="img-promo txtnosotros">
                <h2 class="h2-promo">Nosotros</h2>
                <p>La gran compañia cyber chicken nos caracterizamos por ser un grupo muy unido y ademas nos especializamos en la calidad del producto final ya que contamos con expertos altamente caliicados que se encargan en la elaboracion y entrega del producto final.</p>
            </div>

            <div class="img-promo">
                <img src="https://nteve.com/wp-content/uploads/2021/06/17-12-777x445.png" />
            </div>
        </div>
    </div>*@
    
    

</div>
<div >
    <footer class=" text-dark pb-4 pt-5 bg-white ">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">

                <div class="col-lg-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Nosotros</h5>
                    <hr class="mb-4" />
                    <p>
                        La gran compañia cyber chicken nos caracterizamos por ser un grupo muy unido y
                        ademas nos especializamos en la calidad del producto final ya que contamos con
                        expertos altamente caliicados que se encargan en la elaboracion y entrega del
                        producto final.
                        @*<img src="https://nteve.com/wp-content/uploads/2021/06/17-12-777x445.png" />*@
                    </p>
                </div>
                <div class="col-lg-2 mx-auto mt-3 ">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Dejanos ayudarte</h5>
                    <hr class="mb-4" />
                    <p>
                        <a href="#" class="text-dark">Tu cuenta</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark">Tus ordenes</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark">Manejo de cuenta</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark">Ayuda</a>
                    </p>
                </div>
                <div class="col-lg-2 mx-auto mt-3 ">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Has dinero</h5>
                    <hr class="mb-4" />
                    <p>
                        <a href="#" class="text-dark">Tu cuenta</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark">Tus ordenes</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark">Manejo de cuenta</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark">Ayuda</a>
                    </p>
                </div>
                <div class="col-lg-2 mx-auto mt-3 ">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
                    <hr class="mb-4" />
                    <p>
                        <li class="fas fa-home me-3"></li>Peru,ciudad 303
                    </p>
                    <p>
                        <li class="fas fa-envelope me-3"></li>cfc@gmail.com
                    </p>
                    <p>
                        <li class="fas fa-phone me-3"></li>+2222222
                    </p>

                </div>
                <hr class="mb-4" />
                <div class="text-center mb-2">
                    <p>
                        Copyright Todos los derechos reservados
                        <a href="#">
                            <strong class="text-primary">Test</strong>
                        </a>
                    </p>
                </div>
                <div class="text-center">
                    <ul class="list-unystyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-facebook"></i></a>

                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-twiter"></i></a>

                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-google-plus"></i></a>

                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-linkedin-in"></i></a>

                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-youtybe"></i></a>

                        </li>


                    </ul>

                </div>





            </div>

        </div>

    </footer>
</div>