﻿@{
    var status = Context.Request.Query["status"];
    var enproceso = "text-primary";
    var pendiente = "text-primary";
    var completado = "text-primary";
    var aprobado = "text-primary";
    var todo = "text-primary";

    switch (status)
    {
        case "pendiente":
            pendiente = "active text-white bg-primary";
            break;
        case "enproceso":
            enproceso = "active text-white bg-primary";
            break;
        case "completado":
            completado = "active text-white bg-primary";
            break;
        case "aprobado":
            aprobado = "active text-white bg-primary";
            break;
        default:
            todo = "active text-white bg-primary";
            break;

    }
}
<style>
    .teibol {
        background-color: white;
    }

    .encabezado {
        background-color: lightgray;
        border: 2px solid black;

    }

    .list-group-item {
        background-color: white;
        color: black;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px 20px;
        margin-right: 10px;
        transition: background-color 0.3s ease;
    }

        .list-group-item.active {
            background-color: #ffa726;
            color: white;
        }


</style>
<div class="card shadow border-0 mt-4">
    <div class="d-flex justify-content-between pb-5 pt-2">
        <span></span>
        <ul class="list-group list-group-horizontal-sm encabezado">
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="enproceso">
            <li class="list-group-item @enproceso">En proceso</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pendiente">
            <li class="list-group-item @pendiente">Pago pendiente</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completado">
            <li class="list-group-item @completado">Completado</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="aprobado">
            <li class="list-group-item @aprobado">Aprobado</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="todo">
            <li class="list-group-item @todo">Todo</li>
            </a>
        </ul>
    </div>
        <table id="tabla" class="table table-bordered teibol " style="width:100%">
            <thead class="encabezado">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>


@section Scripts{
    <script src="~/js/orders.js"></script>
}

<script>
    var listItems = document.querySelectorAll('.list-group-item');

    listItems.forEach(function (item) {
        item.addEventListener('click', function () {
            listItems.forEach(function (item) {
                item.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
</script>

